body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(-45deg, #ff3d02, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height:100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  	
}
@keyframes gradient{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position:0% 50%;
	}
}
.burger-menu{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.burger-menu a{
    text-decoration: none;
    color: black;
}
.burger-menu-item{
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.burger-menu-item:hover{
    background: #f0f0f0;
    font-weight: bold;
}
.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #ff3d02;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.dashboard-mainframe{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto;
    align-items: center;;
    width: 100%;
    font-weight: bold;
    height: fit-content;
}
.dashboard-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2%;
    margin: 5%;
    text-align: center;
    height: fit-content;
    font-size: large;
}
.events{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 10px;  /* Adjust spacing between cards */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    padding: 2%;
    margin: 5%;
    text-align: center;
    font-size: medium;
    flex-wrap: wrap;
    grid-auto-flow: row;
}
.events-card{
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.8);
}
.events a{
    text-decoration: none;
    color: rgb(4, 0, 219);
}
.events-card:hover{
    box-shadow: 4px 2px 6px rgba(0, 0, 0, 1);
    background-color: rgb(187, 187, 187);
}
.activity{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 10px;  /* Adjust spacing between cards */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    padding: 2%;
    margin: 5%;
    text-align: center;
    font-size: medium;
}
.eventDetails{
    font-style: italic;
    font-size: normal;
}
